h1, h2, h3, h4, h5 {
  font-family: 'COCOGOOSE', sans-serif;
}

.line {
  width:10%;
  text-align:center;
  margin-left:auto;
  margin-right: auto;
}

.intro {
  font-weight: 900;
  font-size: 3rem;
}

.date {
  font-weight: 700;
}

.video {
  height: 22.5rem;
  width: 80%;
}

body {
  font-family: 'Lato', sans-serif;
}

.logo {
  height: 3.5rem;
}

.hero {
  padding-top: 5%;
  background-image: url("../images/main_bg.jpg");
  background-size: cover;
  background-position: center;
}

.main-program {
  background: url("../images/program_bg.png");
}

.partners {
  background-color: #414246;
}

.highlight {
  color: #ec5242;
}

.dark{
  color: #272a31;
}

.bg-transparent-50 {
  background-color: rgba(255, 255, 255, 0.30);
}

.bg-transparent-50:hover {
  border: 2px solid #fff;
}

.bg-orange {
  background-color: #ec5242;
}

.card-icon {
  width: 3rem;
  height: 3rem;
}

#join {
  display: none;
  visibility: hidden;
}

.footer {
  background-color: #2e2e2e;
}

.mobile-nav {
  display: none;
  visibility: hidden;
}

.speaker {
  width: 11.5rem;
  height: 9rem;
}

@media screen and (max-device-width: 768px) {

  #join {
    display: block;
    visibility: visible;
  }

  #join-link {
    display: none;
    visibility: hidden;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
    visibility: visible;
  }

  .menu-items {
    background-color: #fff;
    display: none;
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: 35;
  }

  .close {
    position: relative;
    left: 90%;
    top: 10px;
  }

}
